<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'App1/bootstrap/css/bootstrap.css'%}">
</head>
<style>
    h1{
        text-align: center;
    }
    div{
        text-align: center;
    }
</style>
<body>
    <div class="p-3 mb-2 bg-dark-subtle text-dark-emphasis">

    <h1>STUDNET MANAGEMENT SYSTEM</h1>
    <hr>
    <div>
   <form action="" method = 'POST'>
    {% csrf_token %}
    {{Fillup.as_p}}
    <button type="submit" class="btn btn-success">Register</button>
</form>
</div>
<hr>
   <table  class="table table-striped table-hover">
    <thead>
        <tr>
          <th scope="col">Name Of Student</th>
          <th scope="col">Roll_No</th>
          <th scope="col">Email</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for feild in Show %}
        <tr>
          <th scope="row">{{feild.Name}}</th>
          <td scope="row">{{feild.Roll_NO}}</td>
          <td scope="row">{{feild.Email}}</td>
          <td scope="row"><a href="{% url 'Update' feild.Roll_NO %}" class='Update'><button type="button" class="btn btn-warning">Edit</button>
          </a>
            <a href="{% url 'Delete' feild.Roll_NO %}" class =Delete><button type="button" class="btn btn-danger">Delete</button></a></td>
        </tr>
        {% endfor %}
    </tbody>
    <br>
    
    
  </table>
    <script src="{% static 'app1/bootstrap/js/jquery' %}"></script>
    <script src="{% static 'app1/bootstrap/js/poper' %}"></script>
    <script src="{% static 'app1/bootstrap/js/bootstrap' %}"></script>
</div>
</body>

</html>
